@model Inventory.UI.Web.Models.InvertoryViewModel
@{
    Layout = null;
}

@*@using (Html.BeginForm("AddOwnProduct", "AdminArea"))
{
    @Html.LabelFor(m => m.OwnProduct.Kind)
    @Html.TextBoxFor(m => m.OwnProduct.Kind)
    <br />
    <input type="submit" value="ثبت" />
}*@
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="~/Styles/bootstrap.min.css" type="text/css" media="all">
    <link rel="stylesheet" href="~/Styles/bootstrap-theme.min.css" type="text/css" media="all">
    <link rel="stylesheet" href="~/Styles/font-awesome.min.css" type="text/css" media="all">
    <link rel="stylesheet" href="~/Styles/common.css" type="text/css" media="all">
    <link rel="stylesheet" href="~/Styles/styles.css" type="text/css" media="all">
    <title>داشبورد</title>
</head>
<body>
    <div class="container-fluid">
        <div class="row">

            <!--Menu column-->
            <section class="col-md-3 col-sm-3 menu">
                <nav class="navbar">
                    <div class="container-fluid padding-less">
                        <!-- Brand and toggle get grouped for better mobile display -->
                        <div class="navbar-header">
                            <!--<button type="button" class="menu-circle collapsed" data-toggle="collapse"-->
                            <!--data-target="#menu-body" aria-expanded="false">-->
                            <!--<i class="fa fa-bars" aria-hidden="true"></i>-->
                            <!--</button>-->
                            <button type="button" class=" menu-circle collapsed  hidden-lg hidden-md hidden-sm" data-toggle="collapse"
                                    data-target="#menu-body" aria-expanded="false">
                                <i class="fa fa-bars" aria-hidden="true"></i>
                            </button>
                            <div class="menu-circle hidden-xm">
                                <i class="fa fa-bars" aria-hidden="true"></i>
                            </div>
                            <span class="menu-span">منو</span>
                        </div>

                        <!-- Collect the nav links, forms, and other content for toggling -->
                        <div class="collapse navbar-collapse" id="menu-body">
                            <ul class="menu-content">
                                <li>
                                    <!--Link should replace with correct url-->
                                    <a title="مشاهده لیست انبارها" href="/CPanel/AdminArea/InvertoriesList" target="_blank">
                                        <i class="fa fa-eye" aria-hidden="true"></i> &nbsp;مشاهده لیست انبارها

                                    </a>
                                </li>

                                <li>
                                    <!--Link should replace with correct url-->
                                    <a title="مشاهده لیست جابه جایی ها" href="/CPanel/AdminArea/CargoTransmissionList" target="_blank">
                                        <i class="fa fa-eye" aria-hidden="true"></i> &nbsp;مشاهده لیست جابه جایی ها

                                    </a>
                                </li>
                                <li>
                                    <!--Link should replace with correct url-->
                                    <a title="مشاهده لیست ماشین های باری" href="/CPanel/AdminArea/LorryList" target="_blank">
                                        <i class="fa fa-eye" aria-hidden="true"></i> &nbsp;مشاهده لیست ماشین های باری

                                    </a>
                                </li>
                                <li>
                                    <!--Link should replace with correct url-->
                                    <a title="مشاهده لیست شرکت های همکار" href="/CPanel/AdminArea/PartnersList" target="_blank">
                                        <i class="fa fa-eye" aria-hidden="true"></i> &nbsp;مشاهده لیست شرکت های همکار

                                    </a>
                                </li>
                                <li>
                                    <!--Link should replace with correct url-->
                                    <a title="اضافه کردن محصول" href="/CPanel/AdminArea/AddProduct" target="_blank">
                                        <i class="fa fa-eye" aria-hidden="true"></i> &nbsp;اضافه کردن محصول

                                    </a>
                                </li>
                                <li>
                                    <!--Link should replace with correct url-->
                                    <a title="اضافه کردن یک نوع محصولات خود شرکت" href="/CPanel/AdminArea/AddOwnProduct" target="_blank">
                                        <i class="fa fa-eye" aria-hidden="true"></i> &nbsp;اضافه کردن یک نوع محصولات خود شرکت

                                    </a>
                                </li>
                                <li>
                                    <!--Link should replace with correct url-->
                                    <a title="اضافه کردن محصولات خود شرکت" href="/CPanel/AdminArea/AddOwnProductsDetails" target="_blank">
                                        <i class="fa fa-eye" aria-hidden="true"></i> &nbsp;اضافه کردن محصولات خود شرکت

                                    </a>
                                </li>
                                <li>
                                    <!--Link should replace with correct url-->
                                    <a title="مشاهده قرارداد شرکت های همکار" href="/Dashboard/PartnerArea/PartnerContract" target="_blank">
                                        <i class="fa fa-eye" aria-hidden="true"></i> &nbsp;مشاهده قرارداد شرکت های همکار

                                    </a>
                                </li>
                            </ul>


                        </div>
                    </div>
                </nav>

                <div class="clearfix"></div>
            </section>
            <!--End of menu column-->
            <!--Main section-->
            <section class="col-md-8 col-sm-8 col-md-pull-4 col-sm-pull-4" id="content-section">
                <h1>افزودن نوع محصول</h1>
                <br>
                <!--replace null with appropriate URL-->
                @using (Html.BeginForm("AddOwnProduct", "AdminArea"))
                {
                    <section class="col-md-4 ">
                        <div class="input-group">
                            <span class="input-group-addon" id="Name">نام </span>
                            <input type="text" name=@Html.DisplayNameFor(m => m.OwnProduct.Name) class="form-control" aria-describedby="Name" required>
                        </div>
                    </section>

                    <section class="col-md-4 col-md-pull-4">
                        <button type="submit" class="btn btn-parkmark">افزودن</button>
                    </section>

                }
            </section>
            <!--End of main section-->

            @if (Model != null)
            {
                if (Model.OwnProduct.EndUserMessage != null)
                {
                    <div>@Model.OwnProduct.EndUserMessage</div>
                }
            }
        </div>
    </div>

    <script type="text/javascript" src="js/jquery-3.2.1.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
</body>
</html>
